<div class="col-md-3">
    <div class="card book-card">
        <div class="card-body">
            <h5 class="card-title">{{Titulo}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{Autor}}</h6>
            <p class="card-text">
                <strong>Qtde. Páginas:</strong> {{Paginas}}<br>
                <strong>Ano de Publicação:</strong> {{Ano}}<br>
            </p>
            <button class="btn btn-primary mark-as-read-btn" data-book='{{book}}'>Mark as Read</button>
        </div>
    </div>
</div>