<div class="col-md-3">
    <div class="card book-card">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{category}}</h6>
            <p class="card-text">
                <strong>Price:</strong> ${{price}}<br>
                <strong>Color:</strong> {{color}}<br>
            </p>
            <button class="btn btn-primary mark-as-read-btn" data-book='{{book}}'>Mark as Read</button>
        </div>
    </div>
</div>